* {
  pointer-events: all !important;
}

canvas {
  min-height: 100vh;
  background-color: transparent;
  z-index: 999999;
  position: fixed;
  inset: 0;
  top: 0;
  left: 0;
  pointer-events: none;
}

canvas h1 {
  font-size: clamp(2rem, 4vw + 1rem, 8rem);
}

canvas h1::-moz-selection {
  background: hsl(40 90% 60%);
}

canvas h1::selection {
  background: hsl(40 90% 60%);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.star-container {
  position: fixed;
  top: 0;
  background-color: red;
  left: 0;
  z-index: 111111;
}
